@import "./reset/_reset.scss";
.page{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  background-color:#fff;
  z-index:1;
  display:none;
}
.pageShow{
  display:block;
}
.page:nth-of-type(1){
  z-index:10;
}
.page:nth-of-type(2){
  z-index:9;
}
.page:nth-of-type(3){
  z-index:8;
}
.page:nth-of-type(4){
  z-index:7;
}
.page:nth-of-type(5){
  z-index:6;
}
@-webkit-keyframes tree
{
  100%{
    transform:translateY(0px);
    opacity:1;
  }
}
@-webkit-keyframes cloud1 {
  0%{
    transform: translateX(0px);
    opacity:1;
  }
  20%{
    transform: translateX(20px);
    opacity:1;
  }
  40%{
    transform: translateX(40px);
    opacity:1;
  }
  60%{
    transform: translateX(60px);
    opacity:1;
  }
  80%{
    transform: translateX(40px);
    opacity:1;
  }
  100%{
    transform: translateX(20px);
    opacity:1;
  }
}
@-webkit-keyframes shake {
  0%{
    transform:rotate(0deg);
  }
  25%{
    transform:rotate(5deg);
  }
  50%{
    transform:rotate(00deg);
  }
  75%{
    transform:rotate(-5deg);
  }
  100%{
    transform:rotate(0deg);
  }
}
.tree{
  position:absolute;
  left:0;
  top:10%;
  width:100%;
  img{
    width:100%;
  }
  transform:translateY(100px);
  opacity:0;
  animation:tree 1s;
  animation-fill-mode:forwards;
}
#logo{
  position:absolute;
  left:0;
  bottom:5%;
  width:100%;
  text-align:center;
  opacity:0;
  transform:translateY(20px);
  animation:tree 1s 0.4s;
  animation-fill-mode:forwards;
}
.welcome2{
  position:relative;
  padding-top:50px;
  opacity:0;
  transform:translateY(50px);
  animation:tree 1s 0.2s;
  animation-fill-mode:forwards;
}
.shake{
  position:absolute;
  top:19px;
  left:302px;
  width:28px;
  height:31px;
  background:url('../imgs/shake.png') no-repeat;
  animation:shake 0.8s linear infinite;
  transform-origin:0 30px;
}
.tree3{
  padding-top:20px;
  opacity:0;
  transform:translatey(30px);
  animation:tree 1s 0.3s;
  animation-fill-mode: forwards;
}
.cloud{
  position:absolute;
  z-index:100;
  background:url('../imgs/cloud.png') no-repeat;
  background-size:contain;
  opacity:0;
  animation:cloud1 10s linear 0.3s infinite;
}
.cloud:nth-of-type(1){
  left:432px;top:15px;
  width:58px;
  height:44px;
}
.cloud:nth-of-type(2){
  left:29px;
  top:77px;
  width:91px;
  height:70px;
}
.cloud:nth-of-type(3){
  left:402px;
  top:142px;
  width:54px;
  height:41px;
}
#picList{ overflow:hidden;width:500%;}
#picList li{float:left; width:20%;}
#picList img{ width:100%; height:342px;}
.picMask{height:102px; position:absolute;left:0;bottom:0;width:100%; background:-webkit-linear-gradient(bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0));background:linear-gradient(bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.8) 20%,rgba(0,0,0,0));}
.picMask p{ font-size:29px; line-height:120px; text-indent:26px; color:#fff;}
.picMask nav{height:10px; right:26px; top:56px; position:absolute;}
.picMask nav a{float:left;width:10px;height:10px; border-radius:5px;background:#fff; opacity:0.5;margin-left:15px;}
.picMask nav a.active{ opacity:1;}
